body {
    background-image: url('../images/tank2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.line {
    border-left: 1px solid #454545;
    height: 100px;
    position: absolute;
    top: 0;
    left: 50%;
}


/*-------------------------------------------------------------------------------Projects*/

.carousel-item {
    text-align: center;
    color: #ca3e47;
}

img {
    border-radius: 50%;
}

.projects {
    text-align: center;
    margin-top: 103px;
}

.proj {
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    color: white;
}

button {
    background: transparent;
    border-width: 2px;
    border-style: solid;
    border-color: #454545;
    position: relative;
    padding: .3em 1.5em;
    transition: all 0.8s ease-in-out;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

button:before,
button:after {
    content: '';
    display: block;
    position: absolute;
    border-color: #ca3e47;
    box-sizing: border-box;
    border-style: solid;
    width: 1em;
    height: 1em;
    transition: all 1s ease-in-out;
}

button:before {
    top: -6px;
    left: -6px;
    border-width: 2px 0 0 2px;
    z-index: 5;
}

button:after {
    bottom: -6px;
    right: -6px;
    border-width: 0 2px 2px 0;
}

button:hover:before,
button:hover:after {
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border-color: #fff
}

button:hover {
    color: #ca3e47;
    background-color: #fff;
    border-color: #fff
}


/*-------------------------------------------------------------------------------Contact*/

.contact {
    margin-left: 50px;
    position: absolute;
    bottom: 10%;
    font-size: .7em;
    text-transform: uppercase;
    cursor: pointer;
    border-right: 1px solid #ca3e47;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
}

#modal1 {
    background: white;
}

.modal-content {
    text-align: center;
}

p {
    font-family: 'Chakra Petch', sans-serif;
    color: #313131;
    text-transform: uppercase;
    font-weight: 700;
}

i {
    padding: 10px;
    font-size: 1.5em;
}

.social {
    padding-top: 15px;
    padding-bottom: 12px;
}